@import '~bootstrap/scss/bootstrap';

body {
  background-color: #808080;
}

h1 {
  color: #ffff00;
}

legend {
  color: #ffff00;
}

.box {
  border: solid 2px #ff0000;
  height: 100px;
  width: 100px;
}

.container {
  border: solid 2px #000000;
  height: 400px;
  width: 400px;
}
