@import '~bootstrap/scss/bootstrap';

body {
  background-color: #808080;
}

h1 {
  color: #66ffd9;
}

h2 {
  text-align: right;
}

legend {
  color: #66ffd9;
}

.box {
  border: solid 1px #66ffd9;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.container {
  border: solid 1px #808080;
  height: 300px;
  margin-top: 25px;
  width: 300px;
}

#restartButton {
  margin-top: 15px;
}
